<div class="container">
  <h1 class="text-center pb-3 pt-3">About</h1>
  <div class="row">
    <div class="col-md-6">
      <figure>
        <img src="../assets/about1.jpg" class="img-fluid shadow" style="border-radius: 10px;" alt="Image 1">
        <figcaption style="font-size: 0.8em; text-align: center;">Photo by Andrea Piacquadio: <a href="https://www.pexels.com/photo/man-in-white-dress-shirt-sitting-on-black-rolling-chair-while-facing-black-computer-set-and-smiling-840996/">Source</a></figcaption>
      </figure>

    </div>
    <div class="col-md-6">
      <p style="font-size: 1.3rem;">NodeBucket is the ultimate platform for streamlining collaboration among developers and teams. Founded by Justin Barlowe, a Full Stack developer, NodeBucket was born out of the pressing need for a more effective way to manage tasks and promote collaboration within the tech community. Join us on this exciting journey as we redefine how developers work together. With NodeBucket, you'll experience a new level of productivity and efficiency in your projects. Don't wait; try NodeBucket today and see the positive impact it can have on your development endeavors!</p>
      <img src="image1.jpg" class="img-fluid" alt="Image 1">
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2">
      <figure>
      <img src="../assets/about2.jpg" class="img-fluid shadow" style="border-radius: 10px;" alt="Image 2">
      <figcaption style="font-size: 0.8em; text-align: center;">Photo by Christina Morillo: <a href="https://www.pexels.com/photo/two-women-in-front-of-dry-erase-board-1181533/">Source</a></figcaption>
    </figure>
    </div>
    <div class="col-md-6">
      <p style="font-size: 1.3rem;">Our platform empowers developers of all backgrounds – whether you specialize in front-end development, back-end wizardry, or full-stack expertise – to collaborate seamlessly. NodeBucket offers an intuitive task management system, highly customizable boards, real-time updates, and seamless integration with your favorite development tools. We're here to enhance your workflow and make collaboration effortless.</p>
      <img src="image2.jpg" class="img-fluid" alt="Image 2">
    </div>
    <div class="col-md-6">
      <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
    </div>
  </div>
  <!-- Add more rows as needed -->
</div>