<div class="container">
  <h1 class="text-center pb-3 pt-3">About</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="image1.jpg" class="img-fluid" alt="Image 1">
    </div>
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img src="image2.jpg" class="img-fluid" alt="Image 2">
    </div>
    <div class="col-md-6">
      <p>Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
    </div>
  </div>
  <!-- Add more rows as needed -->
</div>