<!-- 404 Page -->

<div class="d-flex flex-column justify-content-center align-items-center">
  <br>
  <h1 class="mb-4 text-center mt-2" >Uh-oh!</h1>
  <h2 class="mb-4 text-center">Looks like you landed on the wrong planet! Head back <a routerLink="/">here.</a></h2>
  <figure>
    <img src="./assets/404image.jpg" alt="404 Image" style="border-radius: 10px;">
    <figcaption style="font-size: 0.5rem;">Image by RDNE Stock Project: <a href="https://www.pexels.com/photo/astronauts-wearing-silver-outfits-standing-against-a-brown-rock-8474727/">Source</a></figcaption>
  </figure>
</div>